:host {
  width: 100%;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  gap: 32px;
  margin: 32px auto;
}

h1 {
  color: var(--primary-text-color);
  margin-top: 0px;
}